<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django_with_Parth1</title>
</head>
<body>
<!--{%for i in range(2):-->
<!--    <h1>Hello</h1> %}-->

<p style="text-align:center;color:green">NavBar starts after this. </p>
{%include 'navbar.html'%}
<p style="text-align:center;font-weight:500">Block starts here. <br> </p>
{% block content %}

{% endblock content %}
<p style="text-align:center;font-style:oblique">Block ends here. <br> This is code from main.html file.</p>
</body>