{% extends 'main.html' %}
{%block content%}
<table border="1px" style="border-radius:10px">
    <tr>
        <th>name</th>
        <th>description</th>
    </tr>
    {% for i in room %}
    <tr>
        <td>{%if i.name%}
                {{i.name}}
            {% else %}
                <p>No value entered</p>
            {%endif%}
        </td>
        <td>{%if i.description%}
                {{i.description}}
            {%else%}
            <p>No value entered</p>
            {%endif%}
        </td>
    </tr>
{% endfor %}
</table>
<br>

{% for i in room %}
<a href="/room/{{i.id}}"> Create Room  {{i.name}}</a>
<br>
<a href="/update/{{i.id}}"> Update Room</a>
<br>
{%endfor%}
<a href="{% url 'create_room' %}"> Create Room </a>
<br>
<br>
<a href="/create_room"> create room (working)</a>
{% endblock content %}